body {
  max-width: 100vw;
  overflow-x: hidden;
  color: #4A4A4A;
  background: #F9F9F9;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.main-container{
  width: 100vw;
  height: 100vh;
}

/* Header */
.header {
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(135deg, #1A73E8, #63B4FF);
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.1);
  position: relative; /* Garante que o header respeite o fluxo normal */
  z-index: 10; /* Para ficar acima de outros elementos */
  padding: 0 15px;
  overflow: hidden; /* Impede que o texto vaze */
}


.logo-component {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaço entre o logo e o texto */
  min-width: 140px; /* Largura mínima para o logo + nome */
}

.logo {
  border-radius: 5px; /* Estilo opcional para o logo */
}

.site-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.header-title{
  position: absolute;
  left: 50%; /* Move o título para o centro horizontal */
  top: 50%; /* Move o título para o centro vertical */
  transform: translate(-50%, -50%); /* Ajusta o posicionamento para o centro exato */
  font-size: 1.4rem;
  white-space: nowrap; /* Mantém em linha única */
  overflow: hidden;
  text-overflow: ellipsis; /* Adiciona "..." se o texto for cortado */
  max-width: 60%;
  transition: all 0.3s ease;
}

.full-title {
  display: inline;
}

.short-title {
  display: none;
}

.main{
  height: 94vh;
}

.container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100%;
  flex-wrap: nowrap; /* Novo */
  overflow: hidden; /* Novo */
}

/* Sidebar deve ocupar toda a altura da tela sem empurrar o conteúdo */
.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 15%;
}

.barchart-component{
  display: flex;
  flex-direction: column;
  margin: 5px;
  flex-grow: 1;
  border-radius: 5px;
  background-color: #ffffff;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}


/* Gráfico de barras ocupando todo o espaço disponível abaixo */
.barchart-container {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.barchart-wrapper {
  height: 100%;
  width: 95%;
  padding: 0 15px 15px;
}


/* Bloco direito */
.content {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ocupa toda a altura do grid */
  width: 80%;
  min-height: 0;
}

/* Mapa */
.map-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 5px;
  background-color: #ffffff;
  border-radius: 5px;
  box-sizing: border-box;
  flex: 0 0 calc(60% - 10px);
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.map-outer{
  flex-grow: 1; /* Ocupa a maior parte do bloco direito */
  border-radius: 5px;
}


/* Gráfico de linhas */
.linechart-c{
  display: flex;
  flex-direction: column;
  margin: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  box-sizing: border-box;
  flex: 0 0 calc(40% - 10px);
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}



.linechart-container {
  height: 100%;
  overflow: hidden;
}

.linechart-wrapper {
  height: 100%;
}


.component-title{
  font-size: 18px;
  font-weight: bold;
  color: #333; /* Cinza escuro para melhor contraste */
  margin: 8px;
  text-align: left;
}

.component-title.first{
  height: 42px;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 8px;
}

.chart-title{
  margin: 0;
  font-size: 18px;
  color: #333;
}

.chart-controls {
  display: flex;
  gap: 1rem;
  align-items: center;
}


/* KPI */
/* Estilos para o componente KPI */
.kpi-container {
  margin: 5px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}


.kpi-main-title {
  margin: 0.5rem 0rem;
  font-size: 16px;
  font-weight: bold;
  color: #444;
  text-align: center;
}

.kpi-grid {
  display: flex;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas */
  flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
  gap: 20px; /* Substitui o grid-gap, funciona em Flexbox moderno */
  justify-content: center; /* Centraliza os itens horizontalmente */
}

.kpi-item {
  flex: 1 1 calc(50% - 20px); /* Cada item ocupa 50% da largura menos o gap */
  text-align: center;
  margin: 0px 5px;
  box-sizing: border-box; /* Garante que padding/margens não quebrem o layout */
}

.kpi-item:hover {
  transition: transform 0.2s;
}

.kpi-value {
  font-size: 24px;
  font-weight: bold;
  border-left: 4px solid #1A73E8;
  color: #111;
  margin: 0;
}

.kpi-subtitle {
  font-size: 14px;
  color: #666;
  margin: 5px 0 0 0;
}

/* Cor específica para o número de cidades em alerta */
.kpi-alert-value {
  color: #1A73E8;
}

.kpi-footer {
  border-top: 1px solid #F9F9F9;
  margin-top: 8px;
  font-size: 12px;
  color: #666;
  text-align: center;
}

.chart-footer {
  margin-top: 2px;
  margin-bottom: 4px;
  font-size: 12px;
  color: #666;
  text-align: center;
}


/*Search Bar */
.search-bar-container {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 400px;
  background-color: #ffffff;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.search-bar-wrapper {
  position: relative;
  display: flex;
  width: 100%; /* Mesma largura do campo de texto */
}

.search-bar {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  background: transparent;
  transition: border-color 0.3s ease;
}

.search-bar:focus {
  border-color: #1A73E8; /* Amarelo dourado ao focar */
}

.search-label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #666; /* Cinza médio */
  background: white;
  padding: 0 4px;
  transition: all 0.3s ease;
  pointer-events: none; /* Permite clicar no input através do label */
}

.search-bar:focus + .search-label,
.search-bar:not(:placeholder-shown) + .search-label {
  top: 0;
  transform: translateY(-50%);
  font-size: 12px;
  color: #1A73E8; /* Azul primário */
}

.suggestions-list {
  position: absolute;
  top: 100%;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
  list-style: none;
  padding: 0px;
  margin: 0px;
  z-index: 1000;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.reset-button {
  position: absolute; /* Posicionamento absoluto em relação ao contêiner do mapa */
  margin-top: 75px; /* Distância do topo */
  margin-left: 10px; /* Distância da direita */
  padding: 3px 5px;
  z-index: 1000; /* Garante que o botão fique acima do mapa */
  background-color: #fff; /* Cor de fundo */
  border: 2px solid #00000033; /* Borda */
  border-radius: 5px; /* Cantos arredondados */
  cursor: pointer; /* Cursor de ponteiro */
  font-size: 12px; /* Tamanho da fonte */
  text-align: center; /* Centraliza o texto */
  transition: background-color 0.3s ease; /* Transição suave para o hover */
}

.reset-button:hover {
  background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
  color: #000; /* Cor do texto ao passar o mouse */
}

.reset-button-toooltip {
  background: #333;
  color: #a02929;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 0.8rem;
  z-index: 9000;
}

.reset-button-toooltip::after{
  font-size: 1rem;
  border-top-color: #ca2727;
}

/*Leaflet*/

.leaflet-interactive:focus {
  transition: fill-opacity 0.3s ease;
  outline: none !important; /* Remove sombras ao focar */
}

.legend {
  position: absolute;
  bottom: 30px;
  right: 10px;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.legend h4 {
  margin: 0 0 10px 0;
  font-size: 14px;
}

.legend div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border-radius: 2px;
}

.legend-gradient {
  width: 100%;
  margin: 8px 0;
}

.legend span {
  font-size: 0.8em;
}

/*toggle*/
.toggle-switch-container {
  margin: 8px 0px;
}

.toggle-button {
  display: flex;
  align-items: center;
  padding: 0.3rem 0.6rem;
  border: 2px solid #e0e0e0;
  border-radius: 25px;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.toggle-button:hover {
  border-color: #1A73E8;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.toggle-button.toggled {
  background: #f8f8f8;
}

.toggle-button.toggled:hover {
  border-color: #9966ff;
}

.toggle-label {
  font-weight: 500;
  color: #333;
  margin-right: 0.5rem;
}

.toggle-chevron {
  font-size: 0.9em;
  color: #1A73E8;
  transition: transform 0.3s ease;
}


.toggle-button.toggled .toggle-chevron {
  transform: rotate(180deg);
  color: #9966ff;
}

.tooltip-custom {
  z-index: 1000;
  font-size: 0.8rem !important;
  padding: 0.5rem 1rem !important;
  border-radius: 4px !important;
  background: #333 !important;
}


/* Responsividade */
@media (max-width: 1024px) {

  
  .container {
    flex-direction: column;
    height: auto;
    min-height: 94vh;
  }

  .sidebar, .content {
    width: 100%;
    height: auto;
  }

  .sidebar {
    flex-direction: column;
    gap: 15px;
    padding: 10px 5px;
  }

  /* Garante que os componentes do sidebar ocupem a largura total */
  .sidebar > * {
    width: 100% !important;
    min-width: 100% !important;
  }

  .barchart-container,
  .map-outer {
    min-height: 300px;
    height: 50vh;
  }

  .header {
    padding: 0 10px;
  }

  .header-title {
    font-size: 1.2rem;
    max-width: 50%;
  }

  /* Reordenação dos componentes */
  .sidebar, .content {
    width: 100%;
    display: contents; /* Faz com que os filhos sejam tratados como filhos diretos do container */
  }




  .sidebar > .kpi-container {
    order: 1;
  }

  .sidebar > .search-bar-container {
    order: 2;
  }

  .content > .map-container {
    order: 3;
  }

  .content > .linechart-c {
    order: 4;
  }

  .sidebar > .barchart-component {
    order: 5;
  }

}

@media (max-width: 768px) {
  .header-title {
    white-space: normal; /* Permite quebra de linha */
    max-width: 45%;
    text-align: center;
  }

  .full-title {
    display: none;
  }
  
  .short-title {
    display: inline;
  }
}

@media (max-width: 480px) {
  /* Ajustes finos para telas muito pequenas */
  .barchart-container,
  .map-outer {
    min-height: 250px;
    height: 45vh;
  }

  .barchart-wrapper {
    width: 100%;
  }
  
  .kpi-value {
    font-size: 20px !important;
  }

  .header {
    flex-wrap: wrap; /* Permite quebra de linha */
    justify-content: space-between;
    gap: 5px;
    padding: 5px;
  }
  
  .header-title {
    white-space: normal; /* Permite quebra de linha */
    max-width: 45%;
    text-align: center;
  }
  
  .logo-component {
    order: 1; /* Logo fica acima em mobile */
  }

  .site-name{
    display: none;
  }

  .full-title {
    display: none;
  }
  
  .short-title {
    display: inline;
  }
}


@media (min-width: 2560px) {
  .container {
    max-width: 2000px;
    margin: 0 auto; /* Centraliza */
  }
}