


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


.chart-container {
  min-height: 600px; /* Define uma altura mínima */
  max-width: 500px; /* Impede que fique muito largo */
  margin: 0 auto; /* Centraliza */
}

.chart-container2 {
  min-height: 300px; /* Define uma altura mínima */
  margin: 0 auto; /* Centraliza */
}